@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      scrollbar-face-color: #646464;
      scrollbar-base-color: #646464;
      scrollbar-3dlight-color: #646464;
      scrollbar-highlight-color: #646464;
      scrollbar-track-color: #000;
      scrollbar-arrow-color: #000;
      scrollbar-shadow-color: #646464;
      scrollbar-dark-shadow-color: #646464;
    }
  
    .no-scrollbar {
      /* -ms-overflow-style: none; IE and Edge */
      /* scrollbar-width: 1; Firefox */
      scrollbar-face-color: #646464;
      scrollbar-base-color: #646464;
      scrollbar-3dlight-color: #646464;
      scrollbar-highlight-color: #646464;
      scrollbar-track-color: #000;
      scrollbar-arrow-color: #000;
      scrollbar-shadow-color: #646464;
      scrollbar-dark-shadow-color: #646464;
  
    }
  
    ::-webkit-scrollbar { width: 8px; height: 3px;}
    ::-webkit-scrollbar-button {  background-color: #666; }
    ::-webkit-scrollbar-track {  background-color: #646464;}
    ::-webkit-scrollbar-track-piece { background-color: #000;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #646464;}
    ::-webkit-resizer { background-color: #666;}
  }
